/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
*/


body {
  border-top: 3px solid #0AA4F0;
}

a {
  color: #0AA4F0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: 'Helvetica', serif;
}

#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid #fafafa;
  background: #fff;
  z-index: 9999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', serif;
  font-weight: bold;
  margin: 5px 0;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 14px;
  color: #777676;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
}

#container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  color: #2e2e2e;
  padding: 30px 0 0 0;
}

.inner {
  padding: 0;

}

#main {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}

#intro {
  position: absolute;
  width: 500px;
  left: 250px;
  top:0;
  z-index:9999;
}

#intro p {
  font-size:16px;
  margin: 0 0 12px 0;
  line-height:22px;
}

#intro img {
  height:146px;
  float: left;
  margin: 0 12px 12px 0;
}

.main-block {
  background: #f7f7f7;
  position: relative;
}

.main-block:hover {
  background:#EFF9FD;;
}

.main-block-inner {
  color: #000;
  padding: 10px 5px;
}

.main-block-inner h3 {
  text-align: center;
}

.main-block-inner h2 {
  margin: 40px 30px 40px 0;
  font-size: 26px;
  font-weight: bold;
  color: #000;
  text-align: left;
  height: 2px;
  border-bottom: 1px dotted #9BD9F8;
}

.main-block-inner h2 span {
  background: #EFF9FD;
  position: relative;
  bottom: 14px;
  padding-right: 20px;
  padding-left: 20px;
}

.main-block-inner h2 span:hover {
  color: #0AA4F0;
  cursor: pointer;
}

#bottom-container {
  width: 90%;
  margin: 0 auto;
}

#bottom-right{
  float: right;
  font-size: 14px;
}

#portfolio, #resume, #about_me {

}

#portfolio_inner, #resume_inner, #about_me_inner {
  position: relative;
}

.pointer-me {
  cursor: pointer;
}

.close-me {
  font-size:14px;
  text-align:center;
  padding:3px;
  color: #fff;
  background: #FF3500;
  position: absolute;
  display:none;
  z-index:99999;
  right:-8px;
  top: -12px;
  line-height: 14px;
}

.close-me:hover {
  cursor: pointer;
}

.holder {
  position: relative;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.open {
  background: #EFF9FD;
  border-top:1px dotted #9BD9F8;
  padding: 30px 20px;
  color: #000;
  overflow: auto;
}

.tri {
  width: 33%;
  float: left;
  margin: 0 0 30px 0;
}

.tri-inner {
  margin: 10px 20px;
  text-align: left;
  position: relative;
}

.tri-inner img {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 3px #ccc;
  -moz-box-shadow: 2px 2px 3px #ccc;
  -webkit-box-shadow: 2px 2px 3px #ccc;
}

.tri-inner p {
  font-size: 14px;
  padding: 0 !important;
}

.links {
  position: absolute;
  right: 0;
  top: 0;
  font-size:20px;
}

.links a {
  color: #000;
  margin: 0 0 0 4px;
}

.links a:hover {
  color: #0AA4F0;
}

.fa.fa-external-link {
  position: relative;
  top: 1px;
}

.content {
  display: none;
}

.content p {
  padding: 0 0 0 20px;
}

.resume-block {
  width: 100%;
  margin: 0;
  display: none;
}
.resume-block ul {
  width: 80%;
  list-style-type: square;
}
.resume-block ul li {
  margin: 0 0 8px 0;
  font-size: 14px;
}

.resume-block p {
  margin: 0 0 8px 0;
  line-height: 22px;
}

.resume-block h4 {
  margin: 25px 0 3px 0;
}

.it {
  font-style: italic;
}

#header-links {
  position: absolute;
  top:0;
  right:0;
  font-size: 14px;
  text-align: right;
  color: #777676;
}

#header-links a {
  color: #777676;
}

header {
  position: relative;
  max-width:750px;
}

.width200 {
  width: 200px;
}

.width100 {
  width: 100px;
}

.widthfull {
  width: 100%;
}

.mt40 {
  margin-top: 40px;
}

.ml25 {
  margin: 0 0 0 25px;
}

.red {
  color: #FF3500;
}


@media (max-width: 950px) {

  .tri {
  width: 100%;
  float: left;
  margin: 0 0 30px 0;
  }

  .tri p {
    font-size: 16px;
  }

}

@media (max-width: 835px) {

  #intro {
    width: 400px;
  }

}

@media (max-width: 735px) {

  #intro {
    width: 300px;
  }

  #intro p {
    font-size: 16px;
  }

}

@media (max-width: 620px) {

  #intro {
    width: 300px;
    left: 150px;
  }

  #intro p {
    font-size: 14px;
    line-height: 18px;
  }

}

@media (max-width: 535px) {

  #intro {
    width: 200px;
  }

}